@import url('https://fonts.googleapis.com/css?family=Lato:700');

div{
	color:black;
	position:fixed;
	top:1.1em;
	left:3.3em;
	font-family: 'Lato';	
}


#gameOver{
	width:800px;
	height:480px;
	position:relative;
	top:-560px;
	left:20px;
	color:white;
	background-color:#000;
	display:none;
}

p{
	font-size: 80px;
	position:relative;
	left: 170px;
	top:150px;
}

#background{
	position:relative;
	top: 100px;
}