@import url('https://fonts.googleapis.com/css?family=Lato:700');

div{
	color:black;
	position:fixed;
	top:1.1em;
	left:3.3em;
	font-family: 'Lato';	
}


#gameOver{
	width:800px;
	height:480px;
	position:relative;
	top:-560px;
	left:20px;
	color:white;
	background-color:#000;
	display:none;
}


#startscreen{

	width:800px;
	height:480px;


	color:white;
	position:absolute;
	top:8px;
	left:26px;

	

	display:block;
}

#vogel1{

		width:80px;
	height:180px;
	position:fixed;

	color:white;
	position:absolute;
	top: 168px;
	left: 150px;
	

	display:block;
}


#vogel2{

		width:80px;
	height:80px;
	position:fixed;

	color:white;
	position:absolute;
	top: 198px;
	left: 392px;
	

	display:block;
}

#vogel3{

		width:80px;
	height:80px;
	position:fixed;

	color:white;
	position:absolute;
	top: 168px;
	left: 604px;
	

	display:block;
}

p{
	font-size: 80px;
	position:relative;
	left: 170px;
	top:150px;
}

#background{
	position:relative;
	top: 100px;
}